{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Edit {% endblock %}
        
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-edit-table.css' %}" />
    
{% endblock %}
        
{% block content %}
<br>
    <!-- {% for message in messages %}
        <div class="fixed-top alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %} -->
    <div id="filter-date" class="container col-12">
            <div class="row">
        

        <div class="col">
            <form name="booking-filter-sort" method="GET" action="{% url 'booking-edit' %}" class="form-inline">
                {% csrf_token %}
                <div class="input-group">
                        <div class="input-group-prepend">
                            <select name="filter_by" class="btn" style="background-color: #CED4DA;">
                                <option value="date" class="bg-white">Date</option>
                                <option value="month" class="bg-white" {% if filter_by == 'month' %}selected{% endif %}>Month</option>
                            </select>

                        </div>

                    {% if filter_by == 'month' %}
                        <input id="id_date" name="date_filter" type="month" class="form-control mr-2" value="{{ date_filter }}">
                    {% else %}
                        <input id="id_date" name="date_filter" type="date" class="form-control mr-2" value="{{ date_filter }}">
                    {% endif %}

                </div>

                <button type="submit" class="btn btn-primary">OK</button>
            </form>
        </div>

        <div class="col text-right">
                {% for message in messages %}
                    <div class="save-msg mr-2 pt-2 text-secondary d-inline"><i class="fa fa-spinner fa-pulse"></i>&nbsp;{{ message }}</div>
                {% endfor %}
                <button class="btn btn-danger mr-1" onclick="document.forms['TableFilter'].submit();"><i class="fa fa-sign-out"></i>&nbsp;Exit</button>
                <form id="TableFilter" method="GET" action="{% url 'booking-table' %}" style="display:none;">
                    <input type="hidden" name="date_filter" value="{{ date_filter }}">
                    <input type="hidden" name="filter_by" value="{{ filter_by }}">
                </form>
                <button class="btn btn-success" onclick="document.forms['edit-form'].submit();"><i class="fa fa-save"></i>&nbsp;Save</button>                

        </div>
        </div>
    </div>
        {% if bookings %}
            <div id='table-cont' class="table-cont table-responsive"> 
        <table>
            <thead class="text-nowrap bg-lightgray">
            <th>TIME</th>
            <th>DATE</th>
            <th>PRINCIPAL</th>
            <th>SHIPPER</th>
            <th class="px-4">AGENT</th>
            <th>SIZE</th>
            <th class="px-4">BOOKING</th>

            <th>TR</th>
            <th>FM</th>
            <th>TR</th>
            <th>FACTORY</th>
            <th>TR</th>
            <th>TR</th>
            <th>TO</th>

            <th class="px-2">CONTAINER NO</th>
            <th class="px-4">SEAL NO</th>
            <th colspan=2>CLOSING (DATE / TIME)</th>

            <th class="px-5">REF.</th>
            <th class="px-5">REMARK</th>
            <th>เลขที่ใบงาน</th>
            <th>ตัดหาง</th>
            <th>RETURN</th>

        </thead> 
        <tbody> 
            <form id="edit-form" method="POST" action="{% url 'booking-edit-save' %}">
                {% csrf_token %}
            <input type="hidden" name="date_filter" value="{{ date_filter }}">
            <input type="hidden" name="filter_by" value="{{ filter_by }}">
            {% for booking in bookings %}

            <input type="hidden" name="pk" value="{{ booking.pk }}">
            
            {% if booking.cancel == '1' %}
                <tr class="bg-secondary">
            {% elif booking.closing_date < today.date and not booking.return_tr %}
                <tr class="bg-danger">
            {% elif booking.closing_date <= tmr.date and not booking.return_tr %}
                <tr class="alert-danger">
            {% elif booking.date <= today.date and not booking.return_tr %}
                <tr class="alert-warning">
            {% else %}
                <tr>
            {% endif %}
                    
                    <td><input name="time" class="form-control" value="{{ booking.time }}" maxlength="10" autocomplete=off></td>
                    
                    <td><input type="date" id="date{{ booking.pk }}" name="date" class="form-control" value="{{ booking.date | date:'Y-m-d' }}" autocomplete=off onchange="changeDate({{ booking.pk }});" required></td>
                    <td class="no-collapsable text-left"><div  class="long-text">{{ booking.principal }}</div></td>
                    <td class="no-collapsable text-left"><div  class="long-text">{{ booking.shipper }}</div></td>
                    <td><input name="agent" class="form-control" value="{{ booking.agent }}" maxlength="50" autocomplete=off></td>
                    <td><input name="size" class="form-control" value="{{ booking.size }}" maxlength="10" autocomplete=off></td>
                    {% if booking.cancel == '1' %}
                        <td class="bg-secondary text-nowrap">
                    {% else %}
                        <td style="background-color:
                            {% ifchanged booking.booking_no %}
                                {% cycle "PaleGreen" "SandyBrown" "SkyBlue" as rowcolors %}
                            {% else %}
                                {{ rowcolors }}
                            {% endifchanged %}">
                    {% endif %}
                            <input name="booking_no" class="form-control" value="{{ booking.booking_no }}" maxlength="50" autocomplete=off>
                        </td>

                    <td><input name="pickup_tr" class="form-control" value="{{ booking.pickup_tr }}" maxlength="10" autocomplete=off></td>
                    <td><input name="pickup_from" class="form-control" value="{{ booking.pickup_from }}" maxlength="20" autocomplete=off></td>
                    <td><input name="forward_tr" class="form-control" value="{{ booking.forward_tr }}" maxlength="10" autocomplete=off></td>
                    <td><input name="factory" class="form-control" value="{{ booking.factory }}" maxlength="20" autocomplete=off></td>
                    <td><input name="backward_tr" class="form-control" value="{{ booking.backward_tr }}" maxlength="10" autocomplete=off></td>
                    <td><input name="return_tr" class="form-control" value="{{ booking.return_tr }}" maxlength="10" autocomplete=off></td>
                    <td><input name="return_to" class="form-control" value="{{ booking.return_to }}" maxlength="20" autocomplete=off></td>

                    <td><input name="container_no" class="form-control" value="{{ booking.container_no }}" maxlength="20" autocomplete=off></td>
                    <td><input name="seal_no" class="form-control" value="{{ booking.seal_no }}" maxlength="20" autocomplete=off></td>
         
                    <td><input type="date" name="closing_date" class="form-control" value="{{ booking.closing_date | date:'Y-m-d' }}" autocomplete=off></td>
                    <td><input name="closing_time" class="form-control" value="{{ booking.closing_time }}" maxlength="5" autocomplete=off></td>

                    <td><input name="ref" class="form-control" value="{{ booking.ref }}" maxlength="50" autocomplete=off></td>
                    <td><textarea class="form-control" rows="1" name="remark" style="padding: 2px 4px; font-size: 11px;" maxlength="50">{{ booking.remark }}</textarea></td>

                    <td class="text-nowrap">{{ booking.work_id }}</td>

     
                    
                    {% if booking.nextday == '1' and booking.cancel != '1' %}
                    <td class="bg-info">
                        <select name="nextday" id="nextday{{ booking.pk }}" class="custom-select nextday" onchange="editNextDay({{ booking.pk }});">
                            <option value="0"> - </option>
                            <option value="1" selected> Yes </option>
                        </select>
                    </td>
                    <td class="bg-info">
                        <input type="date" id="return_date{{ booking.pk }}" name="return_date" class="form-control" value="{{ booking.return_date | date:'Y-m-d' }}">
                    </td>
                    {% else %}
                    <td>
                        <select name="nextday" id="nextday{{ booking.pk }}" class="custom-select nextday" onchange="editNextDay({{ booking.pk }});">
                            <option value="0"> - </option>
                            <option value="1"> Yes </option>
                        </select>
                    </td>
                    <td>
                        <input type="date" id="return_date{{ booking.pk }}" name="return_date" class="form-control" value="{{ booking.return_date | date:'Y-m-d' }}" readonly>
                    </td>
                    {% endif %}
                        


                </tr>
            
            {% endfor %}
        </form>
            
        </tbody> 
        </table>
        </div>
    <!-- </div> -->
<!-- </div> -->
        {% else %}
            <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
        {% endif %}

        

        
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/fixed_header.js' %}"></script>
    <script src="{% static 'js/booking_edit.js' %}"></script>
    <script src="{% static 'js/add_form.js' %}"></script>
 
    {% endblock %}
