{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} NDD Booking {% endblock %}
        
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style-table.css' %}" />
    
{% endblock %}
        
{% block content %}
<div class="pages">
<br>
    {% for message in messages %}

        <div class="fixed-top alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <!-- <div class="position-sticky" style="top:0px; bottom:0;"> -->
    <div id="filter-date" class="container col-12" style="height: auto;">
        <div class="row">

            <div class="col">
                <form name="booking-filter-sort" method="GET" action="{% url 'booking-table' %}" class="form-inline">
                    {% csrf_token %}
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <select name="filter_by" class="btn" style="background-color: #CED4DA;">
                                    <option value="date" class="bg-white">Date</option>
                                    <option value="month" class="bg-white" {% if filter_by == 'month' %}selected{% endif %}>Month</option>
                                </select>

                            </div>
                        <!-- <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div> -->

                        {% if filter_by == 'month' %}
                            <input id="id_date" name="date_filter" type="month" class="form-control mr-2" value="{{ date_filter }}">
                        {% else %}
                            <input id="id_date" name="date_filter" type="date" class="form-control mr-2" value="{{ date_filter }}">
                        {% endif %}

                    </div>

                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>

            <div class="col text-center">
                <select name="action" class="custom-select col-3 mr-1">
                    <option value=""> -------- </option>
                    <option value="time"> ลงเวลา </option>
                    <option value="delete"> ลบ </option>
                </select>
                <form id="action" method="POST" class="d-inline"> 
                        {% csrf_token %}
                        <input type="hidden" name="date_filter" value="{{ date_filter }}">
                        <input type="hidden" name="filter_by" value="{{ filter_by }}">
                    <button class="btn btn-primary action">GO</button>
                </form>
            </div>
            
            <div class="col text-right">
                <button class="btn btn-primary mr-1" onclick="document.getElementById('edit-filter').submit();"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                <form id="edit-filter" method="GET" action="{% url 'booking-edit' %}" style="display:none;">
                    <input type="hidden" name="date_filter" value="{{ date_filter }}">
                    <input type="hidden" name="filter_by" value="{{ filter_by }}">
                </form>
                <a class="btn btn-primary" href="{% url 'booking-add' %}" role="button"><i class="fa fa-plus"></i>&nbsp;Add</a>
            </div>
            
        </div>
    </div>
    {% if bookings %}

        <div id='table-cont' class="table-cont table-responsive"> 
        <table class="table-hover" id="accordion">
            <thead class="text-nowrap bg-lightgray"> 
                <th><input type="checkbox" id="checkAll"></th>
                <th>PRINT</th>
                <th>TIME</th>
                <th>DATE</th>
                <th>PRINCIPAL</th>
                <th>SHIPPER</th>
                <th>AGENT</th>
                <th>SIZE</th>
                <th>BOOKING</th>

                <th>TR</th>
                <th>FM</th>
                <th>TR</th>
                <th>FACTORY</th>
                <th>TR</th>
                <th>TR</th>
                <th>TO</th>

                <th>CONTAINER NO</th>
                <th>SEAL NO</th>
                <th colspan=2>CLOSING (DATE / TIME)</th>

                <th>REF.</th>
                <th>REMARK</th>
                <th>เลขที่ใบงาน</th>

                <th>PICK UP</th>
                <th>FACTORY</th>
                <th>RETURN</th>
            </thead> 
            <tbody> 
                {% for booking in bookings %}
                    {% if booking.cancel == '1' %}
                        <tr class="bg-secondary collapsed" data-toggle="collapse" data-target="#accordion{{ booking.pk }}">
                    {% elif booking.closing_date < today.date and not booking.return_tr %}
                        <tr class="bg-danger collapsed" data-toggle="collapse" data-target="#accordion{{ booking.pk }}">
                    {% elif booking.closing_date <= tmr.date and not booking.return_tr %}
                        <tr class="alert-danger collapsed" data-toggle="collapse" data-target="#accordion{{ booking.pk }}">
                    {% elif booking.date <= today.date and not booking.return_tr %}
                        <tr class="alert-warning collapsed" data-toggle="collapse" data-target="#accordion{{ booking.pk }}">
                    {% else %}
                        <tr class="collapsed" data-toggle="collapse" data-target="#accordion{{ booking.pk }}">
                    {% endif %}
                            <td class="p-0  no-collapsable toggle-color w-1">
                                <input type="checkbox" class="check" name="pk" value="{{ booking.pk }}">
                                <!-- <label class="custom-control-label" for="cut{{ booking.pk }}"></label> -->
                            </td>
                            <!-- <td class="p-0 toggle-icon w-1">
                                <i class="fa"></i>
                            </td> -->
                            
                            <td class="p-0 w-1">
                                <a class="btn btn-link d-block" id="dropdownMenuPrint" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-print font-weight-bold"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuPrint">
                                    <a class="dropdown-item no-collapsable" href="{% url 'booking-print' pk=booking.pk template='full' %}">Full</a>
                                    <a class="dropdown-item no-collapsable" href="{% url 'booking-print' pk=booking.pk template='forward' %}">Forward</a>
                                    <a class="dropdown-item no-collapsable" href="{% url 'booking-print' pk=booking.pk template='backward' %}">Backward</a>
                                </div>
                            </td>


                            <td class="text-nowrap">{{ booking.time }}</td>
                            
                            <td class="text-nowrap px-3">{{ booking.date | date:'d/m/y' }}</td>
                            <td class="no-collapsable text-left px-2"><div class="long-text">{{ booking.principal }}</div></td>
                            <td class="no-collapsable text-left px-2"><div class="long-text">{{ booking.shipper }}</div></td>
                            <td class="no-collapsable text-left px-2"><div class="long-text">{{ booking.agent }}</div></td>
                            <td class="text-nowrap">{{ booking.size }}</td>
                            {% if booking.cancel == '1' %}
                                <td class="no-collapsable text-left px-2">
                            {% else %}
                                <!-- <td style="background-color: {{ booking.booking_color }}" class="no-collapsable text-left px-2"> -->
                                <td style="background-color:
                                    {% ifchanged booking.booking_no %}
                                        {% cycle "PaleGreen" "SandyBrown" "SkyBlue" as rowcolors %}
                                    {% else %}
                                        {{ rowcolors }}
                                    {% endifchanged %}"
                                class="no-collapsable text-left px-2">
                            {% endif %}
                                    <div class="long-text">{{ booking.booking_no }}</div>
                                </td>

                            <td class="text-nowrap">{{ booking.pickup_tr }}</td>
                            <td class="text-nowrap">{{ booking.pickup_from }}</td>
                            <td class="text-nowrap">{{ booking.forward_tr }}</td>
                            <td class="text-nowrap">{{ booking.factory }}</td>
                            <td class="text-nowrap">{{ booking.backward_tr }}</td>
                            <td class="text-nowrap">{{ booking.return_tr }}</td>
                            <td class="text-nowrap">{{ booking.return_to }}</td>

                            <td class="text-nowrap">{{ booking.container_no }}</td>
                            <td class="text-nowrap">{{ booking.seal_no }}</td>
                            {% if booking.closing_date %}
                                <td class="text-nowrap px-2">{{ booking.closing_date | date:'d/m/y' }}</td>
                            {% else %}
                                <td class="text-nowrap">-</td>
                            {% endif %}
                            <td class="text-nowrap">{{ booking.closing_time }}</td>
                            <td class="no-collapsable text-left px-2"><div class="long-text">{{ booking.ref }}</div></td>
                            <td class="no-collapsable text-left px-2"><div  class="long-text">{{ booking.remark }}</div></td>

                            <td class="text-nowrap">{{ booking.work_id }}</td>
                            
                            {% if booking.nextday == '1' and booking.cancel != '1' %}
                                <td class="text-nowrap bg-info text-white px-3">
                                    {{ booking.pickup_date | date:'d/m/y' }}
                                </td>
                                <td class="text-nowrap bg-info text-white px-3">
                                    {{ booking.factory_date | date:'d/m/y' }}
                                </td>
                                <td class="text-nowrap bg-info text-white px-3">
                                    {{ booking.return_date | date:'d/m/y' }}
                                </td>
                            {% else %}
                                <td class="text-nowrap px-3">
                                    {{ booking.pickup_date | date:'d/m/y' }}
                                </td>
                                <td class="text-nowrap px-3">
                                    {{ booking.factory_date | date:'d/m/y' }}
                                </td>
                                <td class="text-nowrap px-3">
                                    {{ booking.return_date | date:'d/m/y' }}
                                </td>
                            {% endif %}
                        </tr>
                        <!-- <tr id="accordion{{ booking.pk }}" class="collapse bg-light"> -->
                        <tr class="bg-light p-0">
                            <td colspan="26" class="hiddenRow">
                                <!-- <div id="accordion{{ booking.pk }}" class="collapse"  data-parent="#accordion"> -->
                                <div id="accordion{{ booking.pk }}" class="collapse">
                                    <div class="class-collapse">
                                    <div class="float-left ml-sm-2 mt-2">
                                        <button class="btn btn-danger delete-booking" href="#"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                                        <form method="GET" action="{% url 'booking-delete' pk=booking.pk %}" style="display:none;">
                                            <input type="hidden" name="date_filter" value="{{ date_filter }}">
                                            <input type="hidden" name="filter_by" value="{{ filter_by }}">
                                        </form>
                                    </div>
                                    <div class="container w-25 pt-2">
                                        <form method="POST" action="{% url 'booking-update' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="pk" value="{{ booking.pk }}">
                                            <input type="hidden" name="date_filter" value="{{ date_filter }}">
                                            <input type="hidden" name="filter_by" value="{{ filter_by }}">
                                            <table class="w-100 mb-2" style="border-collapse: separate; border:none;">
                                                <tr class="bg-white">
                                                    <td class="w-20 bg-lightgray">VESSEL</td>
                                                    <td><input class="form-control" name="vessel" value="{{ booking.vessel }}" maxlength="50"></td>
                                                </tr>
                                                <tr class="bg-white">
                                                    <td class="w-20 bg-lightgray">PORT</td>
                                                    <td><input class="form-control" name="port" value="{{ booking.port }}" maxlength="50"></td>
                                                </tr>
                                            </table>
                                        
                                            <fieldset>
                                                <legend>ADDRESS</legend>
                                                <table class="container table-borderless" style="border-collapse: separate; border:none;">
                                                    <tr class="bg-light">
                                                        <td class="w-1">
                                                            {% if booking.address == 'shipper' %}
                                                                <input type="radio" name="address{{ booking.pk }}" onchange="updateradio({{ booking.pk }});" value="shipper" checked>
                                                            {% else %}
                                                                <input type="radio" name="address{{ booking.pk }}" onchange="updateradio({{ booking.pk }});" value="shipper">
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-left">
                                                            Shipper
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light">
                                                        <td class="w-1">
                                                        {% if booking.address == 'other' %}
                                                            <input type="radio" name="address{{ booking.pk }}" onchange="updateradio({{ booking.pk }});" value="other" checked>
                                                        </td>
                                                        <td class="text-left">
                                                            Other
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light">
                                                        <td class="w-1"></td>
                                                        <td>
                                                            <textarea class="form-control" rows="3" id="id_address_other{{ booking.pk }}" name="address_other" style="font-size: 12px;" maxlength="200">{{ booking.address_other }}</textarea>
                                                        {% else %}
                                                            <input type="radio" name="address{{ booking.pk }}" onchange="updateradio({{ booking.pk }});" value="other">
                                                        </td>
                                                        <td class="text-left">
                                                            Other
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light">
                                                        <td class="w-1"></td>
                                                        <td>
                                                            <textarea class="form-control" rows="3" id="id_address_other{{ booking.pk }}" name="address_other" style="font-size: 12px;" maxlength="200" disabled>{{ booking.address_other }}</textarea>
                                                        {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light">
                                                        <td class="w-1">
                                                            {% if booking.address == 'none' %}
                                                                <input type="radio" name="address{{ booking.pk }}" onchange="updateradio({{ booking.pk }});" value="none" checked>
                                                            {% else %}
                                                                <input type="radio" name="address{{ booking.pk }}" onchange="updateradio({{ booking.pk }});" value="none">
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-left">
                                                            None
                                                        </td>
                                                    </tr>
                                                </table>
                                            </fieldset>
                                            <div class="float-left">
                                                <input type="hidden" name="cancel" value=0 />
                                                {% if booking.cancel == '1' %}
                                                    <input type="checkbox" id="cancel" name="cancel" value=1 checked>
                                                {% else %}
                                                    <input type="checkbox" id="cancel" name="cancel" value=1>
                                                {% endif %}
                                                <label class="cancel-label" for="cancel">&nbsp;CANCEL</label>
                                            </div>
                                            <div class="float-right mb-4">
                                                <button type="submit" class="btn btn-primary">SAVE</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody> 
        </table>
    </div>
    </div>
<!-- </div> -->
{% else %}
    <h1 class="text-center text-secondary mt-3"> ไม่พบข้อมูล </h1>
{% endif %}

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/fixed_header.js' %}"></script>
    <script src="{% static 'js/add_form.js' %}"></script>
    <script src="{% static 'js/booking_table.js' %}"></script>

    <script>
        $(function() {
            
            
            $("button.action").click(function(){
                if($("input.check:checked").length != 0) {
                    $("input.check:checked").each(function() {
                        
                        var input = $("<input>")
                                    .attr("type", "hidden")
                                    .attr("name", "pk").val($(this).val());
                        $('form#action').append($(input));
                    });
                }
                else {
                    alert("เลือกงานที่ต้องการ");
                    return false;
                }
                
                var action = $('select[name="action"]').val();
                
                if(action == 'time'){
                    $('form#action').attr("action", "{% url 'booking-time' %}");
                    $('form#action').submit();
                }
                else if(action == 'delete'){
                    if (confirm('Are you sure?')){
                        $('form#action').attr("action", "{% url 'booking-delete-multiple' %}");
                        $('form#action').submit();
                    }
                }
                return false;

            });

            
        });
</script> 
        
{% endblock %}

