{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Export {% endblock %}
 

{% block extra_head %}

{% endblock %}


{% block content %}

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Work</h5>

        </div>
        <form method="POST" action="{% url 'export-work' %}">
        {% csrf_token %}
          <div class="modal-body">
              <input type="month" name="month-work-export" class="form-control container col-6 my-3">
          </div>
          <div class="modal-footer pb-1">
            <button class="btn btn-primary">Export</button>
          </div>
        </form>
      </div>
    </div>
  </div

{% endblock %}